/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include "behaviors.dtsi"

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "BASE";
                        // 0: ------------------------------------------------------------------------------
                        // |  TAB |  Q  |  W  |  E  |  R  |  T  |---|  Y  |  U   |  I  |  O  |  P  | BSPC |
                        // | @    |  A  |  S  |  D  |  F  |  G  |---|  H  |  J   |  K  |  L  |  ;  |  '   |
                        // | -    |  Z  |  X  |  C  |  V  |  B  |---|  N  |  M   |  ,  |  .  |  /  | !    |
                        //                    | ESC | NAV | SPC |---| SPC | SYM  | RET |
                        bindings = <
   &kp TAB   &kp Q      &kp W       &hm LALT E  &kp R       &kp T         &kp Y     &kp U        &hm RALT I  &kp O       &kp P    &kp BSPC
   &kp AT    &hm LGUI A &hm LCTRL S &kp D       &hm LSHFT F &kp G         &kp H     &hm RSHFT J  &kp K       &hm RCTRL L &kp SEMI &kp SQT
   &kp MINUS &kp Z      &kp X       &kp C       &kp V       &kp B         &kp N     &kp M        &kp COMMA   &kp DOT     &kp FSLH &kp EXCL
                                    &kp ESC     &mo 8       &lt 1 SPACE   &kp SPACE &mo 9        &kp RET
                        >;
                };

                sym_layer {
                        label = "SYM";
                        // 1: SYM layer ------------------------------------------------------------------
                        // | TAB |  !  |  @  |  #  |  $  |  %  |---|  ^  |  &  |  *  |  _  |  =  | BSPC |
                        // | @   |  ?  |  `  |  \  |  (  |  [  |---|  ]  |  )  |  "  |  :  |  ;  | '    |
                        // | -   |  +  |  ~  | '|' |  {  |  <  |---|  >  |  }  |  ,  |  .  |  /  | !    |
                        //                   |     |     |     |---|     |caps_w|     |
                        bindings = <
   &kp TAB   &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT     &kp CARET  &kp AMPS   &kp ASTRK  &kp UNDER  &kp EQUAL  &kp BSPC
   &kp AT    &kp QMARK  &kp GRAVE  &kp BSLH   &kp LPAR   &kp LBKT      &kp RBKT   &kp RPAR   &kp DQT    &kp COLON  &kp SEMI   &kp SQT
   &kp MINUS &kp PLUS   &kp TILDE  &kp PIPE   &kp LBRC   &kp LT        &kp GT     &kp RBRC   &kp COMMA  &kp DOT    &kp FSLH   &kp EXCL
                        &trans     &trans     &trans        &trans     &caps_word     &trans
                        >;
                };

                lt_layer {
                        label = "LT";
                        // 2: LT layer ---------------------------------------------------------------------
                        // |  TAB |  Q  |  W  |  E  |  R  |  T  |---|  Y  |  U   |  I  |  O  |  P  | BSPC |
                        // | @    |  A  |  S  |  D  |  F  |  G  |---|  H  |  J   |  K  |  L  |  ;  |  '   |
                        // | -    |  Z  |  X  |  C  |  V  |  B  |---|  N  |  M   |  ,  |  .  |  /  | !    |
                        //                    | ESC | NAV | SPC |---| SPC | SYM  | RET |
                        bindings = <
   &kp TAB    &kp Q      &kp W       &hm LALT E  &kp R       &kp T         &kp Y     &kp U        &hm RALT I  &kp O       &kp P    &kp BSPC
   &kp RA(AT) &hm LGUI A &hm LCTRL S &lt 4 D     &hm LSHFT F &kp G         &kp H     &hm RSHFT J  &lt 4 K     &hm RCTRL L &kp SEMI &kp SQT
   &kp MINUS  &kp Z      &kp X       &kp C       &kp V       &kp B         &kp N     &kp M        &kp COMMA   &kp DOT     &kp FSLH &kp RA(EXCL)
                                     &kp ESC     &mo 8       &lt 5 SPACE   &kp SPACE &mo 9        &kp RET
                        >;
                };

                rat_layer {
                        label = "RATISE";
                        // 3: RATISE layer --------------------------------------------------------------
                        // |  Q  |  Ū  |  Ė  |  Y  |  O  |  F  |---|  J  |  N  |  K  |  G  |  B  |  C  |
                        // |  W  |  U  |  E  |  I  |  A  |  H  |---|  L  |  R  |  T  |  S  |  P  |  Z  |
                        // |  -  |  Ų  |  Ę  |  Į  |  Ą  |  X  |---|  V  |  M  |  D  |  Š  |  Č  |  Ž  |
                        //                    | ESC | NAV | SPC |---| SPC | SYM  | RET |
                        bindings = <
   &kp Q      &kp N8     &kp N4      &hm LALT Y  &kp O       &kp F         &kp J     &kp N        &hm RALT K  &kp G       &kp B    &kp C
   &kp W      &hm LGUI U &hm LCTRL E &lt 4 I     &hm LSHFT A &kp H         &kp L     &hm RSHFT R  &lt 4 T     &hm RCTRL S &kp P    &kp Z
   &kp MINUS  &kp N7     &kp N3      &kp N5      &kp N1      &kp X         &kp V     &kp M        &kp D       &kp N6      &kp N2   &kp EQUAL
                                     &kp ESC     &mo 8    &lt 5 SPACE   &kp SPACE &mo 9        &kp RET
                        >;
                };

                ltp_layer {
                        label = "LTP";
                        // 4: LTP layer -----------------------------------------------------------------
                        // |TAB |  ą  |  č  |  ę  |  ė  |  į  |---|  ų  |  ū  |  į  |     |  ž  | BSPC |
                        // | @  |  ą  |  š  |     |  (  |  [  |---|  ]  |  )  |  "  |  :  |  ;  | '    |
                        // | -  |  ž  |     |  č  |  {  |  <  |---|  >  |  }  |  ,  |  .  |  /  | !    |
                        //                  |     |     |     |---|     |     |     |
                        bindings = <
   &kp TAB    &kp N1     &kp N2     &kp N3     &kp N4          &kp N5        &kp N7     &kp N8          &kp N5     &trans     &kp EQUAL  &kp BSPC
   &trans     &kp N1     &kp N6     &trans     &hm LSHFT LPAR  &kp LBKT      &kp RBKT   &hm RSHFT RPAR  &kp DQT    &kp COLON  &kp SEMI   &kp SQT
   &trans     &kp EQUAL  &trans     &kp N2     &kp LBRC        &kp LT        &kp GT     &kp RBRC        &kp COMMA  &kp DOT    &kp FSLH   &kp RA(EXCL)
                                          &trans     &trans     &trans     &trans     &trans     &trans
                        >;
                };

                symlt_layer {
                        label = "SYMLT";
                        // 5: SYM layer ------------------------------------------------------------------
                        // | TAB |  !  |  @  |  #  |  $  |  %  |---|  ^  |  &  |  *  |  _  |  =  | BSPC |
                        // | @   |  ?  |  `  |  \  |  (  |  [  |---|  ]  |  )  |  "  |  :  |  ;  | '    |
                        // | -   |  +  |  ~  | '|' |  {  |  <  |---|  >  |  }  |  ,  |  .  |  /  | !    |
                        //                   |     |     |     |---|     |caps_w|     |
                        bindings = <
   &kp TAB    &kp RA(EXCL)   &kp RA(AT) &kp RA(HASH)   &kp RA(DLLR)   &kp RA(PRCNT)  &kp RA(CARET)  &kp RA(AMPS)   &kp RA(ASTRK)  &kp UNDER  &kp RA(EQUAL)  &kp BSPC
   &kp RA(AT) &kp QMARK      &kp GRAVE  &kp BSLH       &kp LPAR       &kp LBKT       &kp RBKT       &kp RPAR       &kp DQT        &kp COLON  &kp SEMI       &kp SQT
   &kp MINUS  &kp RA(PLUS)   &kp TILDE  &kp PIPE       &kp LBRC       &kp LT         &kp GT         &kp RBRC       &kp COMMA      &kp DOT    &kp FSLH       &kp RA(EXCL)
                        &trans     &trans     &trans        &trans     &caps_word     &trans
                        >;
                };

                ru_layer {
                        label = "RU";
                        // 6: RU layer ---------------------------------------------------------------------
                        // | TAB |  Z  |  '  |  T  |  H  |  N  |---|  S  |  E   |  B  |  J  |  G  |  I  |
                        // |  :  |  F  |  C  |  L  |  A  |  U  |---|  [  |  Q   |  R  |  K  |  4  |  2  |
                        // |  -  |  P  |  X  |  W  |  D  |  ,  |---|  Y  |  V   | S-/ |  /  | S-| |  !  |
                        //                    | ESC | NAV | SPC |---| SPC | SYM  | RET |
                        bindings = <
   &kp TAB    &kp Z      &kp SQT     &hm LALT T  &kp H       &kp N         &kp S     &kp E        &hm RALT B   &kp J        &kp G         &kp I
   &kp LS(N6) &hm LGUI F &hm LCTRL C &lt 7 L     &hm LSHFT A &kp U         &kp LBKT  &hm RSHFT Q  &lt 7 R      &hm RCTRL K  &kp LS(N4)    &kp LS(N2)
   &kp MINUS  &kp P      &kp X       &kp W       &kp D       &kp COMMA     &kp Y     &kp V        &kp LS(FSLH) &kp FSLH     &kp LS(BSLH)  &kp LS(N1)
                                     &kp ESC     &mo 8       &lt 7 SPACE   &kp SPACE &mo 9        &kp RET
                        >;
                };

                rup_layer {
                        label = "RUP";
                        // 7: RUP layer ---------------------------------------------------------------------
                        // | TAB |  Z  |  '  |  T  |  H  |  N  |---|  S  |  E   |  B  |  J  |  G  |  I  |
                        // |  :  |  F  |  C  |  L  |  A  |  U  |---|  [  |  Q   |  R  |  K  |  4  |  2  |
                        // |  -  |  P  |  X  |  W  |  D  |  ,  |---|  Y  |  V   | S-/ |  /  | S-| |  !  |
                        //                    | ESC | NAV | SPC |---| SPC | SYM  | RET |
                        bindings = <
   &trans  &kp DOT    &kp SEMI  &kp TILDE  &kp LS(N4) &kp LS(N5)      &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) &kp O
   &trans  &kp LS(N7) &trans    &kp BSLH   &kp LS(N9) &trans          &trans     &kp LS(N0) &kp LS(N2) &kp LS(N6) &trans     &trans
   &trans  &kp RBKT   &kp M     &trans     &trans     &trans          &trans     &trans     &trans     &trans     &trans     &trans
                              &trans &trans &trans       &trans &caps_word &trans
                        >;
                };

                nav_layer {
                        label = "NAV";
                        // 8: NAV layer -------------------------------------------------------------
                        // | TAB | EN | LT | RU |RAT|C_I|---|C_LFT |PGDN  |PGUP  |C_RGT |    |BSPC|
                        // |CAPS |C_A |WS_S|    |C_F|C_U|---| LFT  | DWN  | UP   | RGT  |HOME|END |
                        // | DEL |C_Z |C_X |C_C |C_V|C_B|---|CS_LFT|S_HOME|S_END |CS_RGT|INS |DEL |
                        //            |     |     |     |---|     |caps_w|     |
                        bindings = <
   &kp TAB   &switch_en &switch_lt    &switch_ru &switch_rat &kp LC(I)     &kp LC(LEFT)     &kp PG_DN    &kp PG_UP   &kp LC(RIGHT)     &trans   &kp BSPC
   &kp CAPS  &kp LC(A)  &kp LG(LS(S)) &trans     &kp LC(F)   &kp LC(U)     &kp LEFT         &kp DOWN     &kp UP      &kp RIGHT         &kp HOME &kp END
   &kp DEL   &kp LC(Z)  &kp LC(X)     &kp LC(C)  &kp LC(V)   &kp LC(B)     &kp LC(LS(LEFT)) &kp LS(HOME) &kp LS(END) &kp LC(LS(RIGHT)) &kp INS  &kp DEL
                        &trans        &trans     &trans        &trans       &caps_word      &trans
                        >;
                };

                fn_layer {
                        label = "FN";
                        // 9: FN layer --------------------------------------------------------------------
                        // | F1   | F2  | F3  | F4  | F5  | F6  |---|  0  |  7  |  8  |  9  |  *  |  /   |
                        // | F7   | F8  | F9  | F10 | F11 | F12 |---|  0  |  4  |  5  |  6  |  -  |  =   |
                        // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |---|  0  |  1  |  2  |  3  |  +  |  .   |
                        //                  | LCTRL | NUM |     |---|     |     |     |
                        bindings = <
   &kp F1     &kp F2       &kp F3       &kp F4       &kp F5       &kp F6        &kp KP_N0  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MULTIPLY &kp KP_DIVIDE
   &kp F7     &kp F8       &kp F9       &kp F10      &kp F11      &kp F12       &kp KP_N0  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MINUS    &kp KP_EQUAL
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &kp KP_N0  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_PLUS     &kp KP_DOT
                           &ext_power EP_OFF    &kp KP_NLCK  &trans        &trans       &trans     &trans
                        >;
                };
        };
};
